body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f9f9f9;
}

/* Container */
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* Header */
.header {
    background: #ffffff;
    padding: 30px 0px;
    border-bottom: 1px solid #ddd;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0;
    float: left;
}
.logo a{
    text-decoration: none;
    color: #000;
}
.nav {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    margin-left: 20px;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

/* Hero */
.hero {
    text-align: center;
    padding: 60px 20px;
    background: #ffffff;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Grid Cards */
.grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}






/* --------------------
   Page Section (About)
--------------------- */
.page-section {
  padding: 40px 0;
}

.page-section h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.page-section .card {
  margin-top: 20px;
}


/* Form Box */
.auth-box {
  width: 400px;
  background: white;
  margin: 40px auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-box input,
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button,
.btn {
  display: inline-block;
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-small {
  padding: 5px 12px;
  font-size: 14px;
  background: #333;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
}

.danger {
  background: #d9534f;
}

.page-section {
  background: white;
  padding: 30px;
  border-radius: 8px;
  margin-top: 20px;
}

.mt { margin-top: 30px; }

.link-list li { margin-bottom: 10px; }




/* Footer */
footer {
    text-align: center;
    padding: 15px 0;
    margin-top: 50px;
    background: #ffffff;
    border-top: 1px solid #ddd;
}